name: CI workflow

on :
  push:
    branches:
      - master
      
  pull_request:
    branches:
      - master

jobs:
    test_job:
        name: Execute test job
        runs-on: ubuntu-latest

        steps:
          - name: Checkout repository
            uses: actions/checkout@v2

          - name: Docker Login
            uses: docker/login-action@v3.6.0
            with:
                username: 'joaomesquitademetrio'
                password: ${{ secrets.DOCKERHUB_PASS }}

          - name: Build and push Docker images
            uses: docker/build-push-action@v6.18.0
            with:
              context: .
              file: ./src/UI/Fiap.Cloud.Games.UI.Api/Dockerfile
              tags: 'latest'
              push: true