name: CI workflow

on :
  push:
    branches:
      - master
      
  pull_request:
    branches:
      - master

jobs:
    test_job:
        name: Execute test job
        runs-on: ubuntu-hosted

        steps:
          - name: Checkout repository
            uses: actions/checkout@v2

          - name: Docker Login
            uses: docker/login-action@v3.6.0
            with:
                username: 'joaomesquitademetrio'
                password: ${{ secrets.DOCKERHUB_PASS }}
